<ion-content class="background-image">

  <ion-header class="ion-no-border">
    <ion-toolbar color='#145DA0'>
      <ion-buttons slot="start">
        <ion-back-button text="Regresar" defaultHref="/login" mode="ios"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">

    <h1>Recuperar contraseña</h1>
    <br />
    <br />
    <div class="text-center">
      <img alt="homepage" class="avatar" src="assets/img/profile.svg">
    </div>

    <br />
    <br />
    <br />

    <h4>De clic en el botón para que se le envíe un correo
      electrónico con una nueva contraseña genérica
      para su ingreso de sesión</h4>
    <br />
    <br />
    <br />

    <br />
    <ion-row class="ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
        <ion-button expand="round" shape="round" aligne="center" routerLink="/login">Enviar</ion-button>
      </ion-col>
    </ion-row>
  </ion-content>