* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    margin-top: 15%;
    margin-bottom: 10px;
    font-size: 32px;
    font-weight: 700;
}

h3 {
    color: #dcdfe4;
    font-weight: 600;
}

.header {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    img {
     
        height: 55%;
        width: 55%;
       // background: url('../../assets/background_pc-signup.png');
        background-position: 30%;
        background-repeat: no-repeat;
        background-size: cover;
    }
  }
 ion-content {
    margin-top: 130px;
    --background: #34B0D2 url('../../../assets/img/ondas2.png') no-repeat center top  fixed;
    margin-top: 130px;
    
    text-align: center;

  }


.boton-google {
    margin-top: 3rem;
    --box-shadow: none;
    --border-radius: 10px;     
    height: 48px;
    font-size: 1rem;
    color: #fff;
    margin-bottom: 0.5rem;
    text-transform: initial;
    --background: #da1818;

}

.login {
    margin-top: 1rem;
    --box-shadow: none;
    --border-radius: 10px;
    --background: #B1D4E0;
    height: 48px;
    font-size: 1rem;
    color: #000000;
    margin-bottom: 0.5rem;
    text-transform: initial;
}

.footer {
    text-align: center;
    font-size: 16px; 
    margin-top: 2rem;  
    color: #c50e0e;

}

a {
    text-decoration: none;
    font-weight: 600;
    color: #0e0a0a;
}

