<ion-content class="background-image">

  <ion-content class="ion-padding">

    <div class="header">
      <img src="assets/img/logo.png">
      <h1>Bienvenido</h1>
      <h3>Inicia sesión para continuar</h3>
    </div>

    <!-- <ion-button class="boton-google" expand="block" shape="round">Continua con Google
    <ion-icon slot="start" name="logo-google"></ion-icon>
  </ion-button> -->
    <ion-button class="login" expand="block" shape="round" routerLink="/iniciar-sesion">Iniciar sesión</ion-button>

    <p class="footer"> <!-- <a class="link" routerLink="/recuperar">¿Olvidaste tu contraseña?</a> -->
      <a routerLink="/register">Registrase aquí </a>
    </p>
  </ion-content>
</ion-content>