* {
    margin:0;
    padding: 0;
}

h1 {
    margin-top: 5%;
    margin-bottom: 10px;
    font-size: 32px;
    font-weight: 700;
}
.formulario {
    margin-top: 25%;
}

ion-button {
    margin-top: 3rem;
    --box-shadow: none;
    --border-radius: 10px;     
    height: 48px;
    font-size: 1rem;
    color: #000000;
    margin-bottom: 0.5rem;
    text-transform: initial;
    --background: #B1D4E0;
    margin-left: 35%;
    font-family: 'segoeui';

}

img {
    width: 130x;
    height: 100px;
    align-items: center;
  }

form {
    margin-top: 3rem;

    .forgot-password-link {
        text-decoration: none;
        display: inline-block;
        width: 100%;
        text-align: right;
        font-weight: 600;
        font-size: 14px;
        color: #4a4a4a;
    }
}
ion-content {
    --background: #34B0D2 url('../../../assets/img/ondas.png') no-repeat center top  fixed;
    

  }

ion-button {
    margin-top: 3rem;
    --box-shadow: none;
    --border-radius: 10px;     
    height: 48px;
    font-size: 1rem;
    color: #fff;
    margin-bottom: 0.5rem;
    text-transform: initial;
}

.fecha {
    color: #939fab;
    left: 1rem;
    padding: 0 1rem;
}

