<ion-content class="background-image">

  <ion-header class="ion-no-border">
    <ion-toolbar color='#145DA0'>
      <ion-buttons slot="start">
        <ion-back-button text="Regresar" defaultHref="/historialventas" mode="ios"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <h1 class="ion-text-center">Agregar Producto</h1>
    <ion-item-divider class="disable"></ion-item-divider>


    <ion-item-divider class="disable"></ion-item-divider>

    <ion-icon class="qr" name="qr-code-outline" routerLink="/historialventas"></ion-icon>


  </ion-content>