<ion-content class="background-image" >

  <ion-header class="ion-no-border">
    <ion-toolbar color="primary">
      <ion-title>Empleado</ion-title>
      <ion-buttons  slot="start">
        <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  
    <ion-avatar class="perfil" >
      <img src="assets/img/profile.svg" class="pdf">
    </ion-avatar>
  
    <div class="info-perfil" >
      <ion-list  >
        <ion-item>
          <ion-label>
            <h1 >Datos</h1>

          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <p></p>
            <h1>Nombre</h1>
            <p>Kelly Aaliyah Pozos Morales </p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h1>Correo electrónico</h1>
            <p>Kelly@gmail.com</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h1>Telefono</h1>
            <p>271-171-09-11</p>
          </ion-label>
        </ion-item>
        
    
       
      </ion-list>
  </div>
  </ion-content>
  