<ion-header class="ion-no-border">
  <ion-toolbar color="success" no-border>
    <ion-buttons slot="start">
      <ion-button (click)="cerrarModal()">
        <ion-icon slot="start" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="banner">
    <img src="../../assets/banner.svg" />
    <div class="caption ion-padding">
      ¿Qúe <br>
      deseas buscar hoy?
    </div>
    <div class="search">
      <ion-item lines="none" class="ion-no-padding">
        <ion-icon slot="start" name="search-outline"></ion-icon>
        <ion-input placeholder="Buscar" (ionChange)="buscar($event)"></ion-input>
      </ion-item>
    </div>
  </div>

  <ion-list lines="none">
    <ion-item *ngFor="let informacion of productos | filtroo:textoBuscar : 'producto'" class="lista">
      <div *ngIf="textoBuscar">
        <!--         <img src="https://apilaravel.corporativosiset.com/public/image/{{informacion.imagen}}" />
 -->
      </div>
    </ion-item>
  </ion-list>
</ion-content>