<ion-content class="background-image">

  <ion-header class="ion-no-border">
    <ion-toolbar color='#145DA0'>
      <ion-buttons slot="start">
        <ion-back-button text="Regresar" defaultHref="/home" mode="ios"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>


  <div class="info-perfil">



    <ion-grid>
      <ion-row>
        <ion-col>
          <br>
          <br />
          <br>
          <br />

          <ion-chip class="chip">
            <ion-icon name="search-outline"></ion-icon>


            <ion-input placeholder="Buscar">
            </ion-input>
          </ion-chip>


        </ion-col>
        <img src="assets/img/pdf.png" class="pdf">
        <img src="assets/img/excel.png" class="excel">


      </ion-row>
    </ion-grid>
    <br>
    <br />
    <ion-button expand="round" shape="round" routerLink="/registroventas">Agregar</ion-button>

    <br>
    <br />
    <br>
    <br />
    <div class="tabla">
      <ion-item color="primary">
        <br />
        <br />
        <br />
        <ion-label>
          <ion-grid>
            <ion-row class="ion-align-items-start">
              <ion-col>
                <div>Día</div>
              </ion-col>
              <ion-col>
                <div>Producto</div>
              </ion-col>
              <ion-col>
                <div>Cantidad</div>
              </ion-col>
              <ion-col>
                <div>Precio</div>
              </ion-col>
            </ion-row>
            <!-- </ion-grid>
      <ion-grid> -->
            <ion-row class="ion-align-items-start">
              <ion-col>
                <div>14/09/22</div>
              </ion-col>
              <ion-col>
                <div>Cinturones</div>
              </ion-col>
              <ion-col>
                <div>15</div>
              </ion-col>
              <ion-col>
                <div>$150</div>
              </ion-col>
            </ion-row>

            <ion-row class="ion-align-items-start">
              <ion-col>
                <div>14/09/22</div>
              </ion-col>
              <ion-col>
                <div>Cinturones</div>
              </ion-col>
              <ion-col>
                <div>15</div>
              </ion-col>
              <ion-col>
                <div>$150</div>
              </ion-col>
            </ion-row>

            <ion-row class="ion-align-items-start">
              <ion-col>
                <div>14/09/22</div>
              </ion-col>
              <ion-col>
                <div>Cinturones</div>
              </ion-col>
              <ion-col>
                <div>15</div>
              </ion-col>
              <ion-col>
                <div>$150</div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-label>
      </ion-item>
    </div>
  </div>

</ion-content>