

.chart-container {
    position: relative;
    margin: auto;
}


.disable{
    background-color: #4a4a4a00;
    border-color: #4a4a4a00;
}
ion-content {
    --background: #34B0D2 url('../../../assets/img/ondas.png') no-repeat center top  fixed;
    

  }