<ion-content class="background-image">



  <ion-header class="ion-no-border">
    <ion-toolbar color='primary'>
      <ion-buttons slot="start">
        <ion-back-button text="Regresar" defaultHref="/historialventas" mode="ios"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>



  <ion-content class="ion-padding">
    <h1 class="ion-text-center">Agregar ventas</h1>

    <form>
      <app-input label="Producto"></app-input>
      <app-input label="Cantidad"></app-input>
      <app-input label="Precio"></app-input>
    </form>
    <div class="centrado">
      <ion-button shape="round" routerLink="/home">Agregar</ion-button>
    </div>

    <ion-row>
      <ion-col size="10">
        <p class="texto">O agregue la venta con código QR del producto</p>
      </ion-col>
      <ion-col size="6">
        <ion-icon class="camera" name="camera-outline" routerLink="/registroqr"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-content>
</ion-content>