<ion-content class="background-image" >

  <ion-header class="ion-no-border">
    <ion-toolbar color="primary">
      <ion-title>Empresa</ion-title>
      <ion-buttons  slot="start">
        <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  
    <ion-avatar class="perfil" >
      <img src="assets/img/zapatos.jpeg" class="pdf">
    </ion-avatar>
  
    <div class="info-perfil" >
      <ion-list  >
        <ion-item>
          <ion-label>
            <h1 >Datos</h1>

          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h1>Correo electrónico</h1>
            <p>zapateria@gmail.com</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <p></p>
            <h1>Direccion</h1>
            <p>Ote.13, entre norte 8 y 10 núm. 420 </p>
          </ion-label>
        </ion-item>
       
        <ion-item>
          <ion-label>
            <h1>Telefono</h1>
            <p>555-88-67</p>
          </ion-label>
        </ion-item>
        
        
    
       
      </ion-list>

    </div>
    <ion-button expand="round" shape="round" routerLink="/editarempresa">Editar </ion-button>

  </ion-content>
  