<!-- <ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="Regresar" defaultHref="/home" mode="ios"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list lines="none">
        <ion-item *ngFor="let productos of productos" class="lista">
                        <img src="https://apilaravel.corporativosiset.com/public/image/{{informacion.imagen}}" />
 
        </ion-item>
    </ion-list>
</ion-content> -->